a.nav {
	font-family: 'Raleway';
	font-weight: bold;
	font-size: 18px;
}

img.mypic{
	width: 80%;
	border: 2px solid;
  border-radius: 25px;
}

span.selfintro{
	font-size: 2em;
	font-weight: bolder;
}

p.selfintro{
	font-size: 1.5em;
}

span.info{
	font-size: 1.2em;
	font-weight: bold;
}

p.info{
	font-size: 1.3em;
}

img.projectimg{
	width: 100%;
	border: 2px solid;
  border-radius: 10px;
}

span.programming{
	font-size: 1.2em;
	font-weight: bold;
	width: 100px;
}

p.programming{
	padding-bottom: 5px;
}

div.popimage{
	width: 80%;
	height: 80%;
	position: fixed;
	top: 10%;
	left: 10%;
	background-size: contain;
	background-repeat: no-repeat;
	border: 2px solid;
  border-radius: 25px;
	box-shadow: 10px 10px 10px #AFAFA8;
	z-index: 10;

}

span.glyphicon{
	float: right;
	font-size: 3em;
}

a.close:link{
	color: rgba(255,25,0,1);
	text-decoration: none;
}
div.blackback{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 9;
}

h2.projecttitle{
	color: black;
	width: 130px;
}

.pdfobject-container {
    height: 500px;
}

.pdfobject {
    border: 1px solid #666;
}
